			h1 {
				background-color: khaki;
				text-align: center;
				color: saddlebrown;
			}

			h2 {
				background-color: khaki;
				text-align: center;
				color: saddlebrown;
			}


			#onediv {
				text-align: center;
			}

			#twodiv {
				text-align: center;
			}